<% content_for(:title, t('.title')) %>
<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start"><%= t '.title' %></h1>
      <%= form_with model: @user, url: profile_path, local: true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :login_id %>
        <%= f.text_field :login_id, class: 'form-control mb-3' %>

        <%= f.label :user_name %>
        <%= f.text_field :user_name, class: 'form-control mb-3' %>

        <div class="row">
          <div class="col-md-6">
            <h5>担当クラス</h5>
            <% @lessons.each do |lesson| %>
              <div>
                <%= check_box_tag "user[lesson_ids][]", lesson.id, @user.lessons.include?(lesson), id: "lesson_#{lesson.id}" %>
                <%= lesson.lesson_name %>
              </div>
            <% end %>
          </div>
          <div class="col-md-6">
            <h5>担当教科</h5>
            <% @subjects.each do |subject| %>
              <div>
                <%= check_box_tag "user[subject_ids][]", subject.id, @user.subjects.include?(subject), id: "subject_#{subject.id}" %>
                <%= subject.subject_name %>
              </div>
            <% end %>
          </div>
        </div>

        <%= f.submit class: 'btn btn-primary mt-3 w-100' %>
      <% end %>
    </div>
  </div>
</div>