<% content_for(:title, t('.title')) %>
<div class="container d-flex flex-wrap justify-content-center justify-content-center pt-5">
  <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
    <h1 class="text-center text-xl-start"><%= t '.title' %></h1>
    
    <%= form_with(model: @teacher, url: teachers_path, local: true) do |form| %>
      <div class="col-12">
        <div class="position-relative mb-4">
          <div class="field">
            <%= form.label :user_id, '名前を選ぶ' %>
            <%= form.select :user_id, User.all.map { |user| [user.user_name, user.id] }, prompt: 'Select User' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="field">
            <h5>クラスを選択</h5>
            <%= form.collection_check_boxes :lesson_ids, Lesson.all, :id, :lesson_name do |b| %>
              <%= b.label { b.check_box + b.text } %><br>
            <% end %>
          </div>
        </div>
    
  
        <div class="col-md-6 mb-4">
          <div class="field">
            <h5>科目を選択</h5>
            <%= form.collection_check_boxes :subject_ids, Subject.all, :id, :subject_name do |b| %>
              <%= b.label { b.check_box + b.text } %><br>
            <% end %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= form.submit (t 'defaults.register'), class: "btn btn-primary shadow-primary btn-lg w-100" %>
      </div>
    <% end %>
  </div>
</div>